<%- include head.ejs %>
</head>
<body>
<%- include nav.ejs %>
<div class="pageCenterer">
	<a href="images/gallery/IMG-20150401-WA0000.jpg"><img class="thumbnail" src="images/thumbs/IMG-20150401-WA0000.jpg"/></a>
	<a href="images/gallery/IMG-20150401-WA0001.jpg"><img class="thumbnail" src="images/thumbs/IMG-20150401-WA0001.jpg"/></a>
	<a href="images/gallery/IMG-20150401-WA0002.jpg"><img class="thumbnail" src="images/thumbs/IMG-20150401-WA0002.jpg"/></a>
	<a href="images/gallery/IMG-20150401-WA0003.jpg"><img class="thumbnail" src="images/thumbs/IMG-20150401-WA0003.jpg"/></a>
	<a href="images/gallery/20150406_171921.jpg"><img class="thumbnail" src="images/thumbs/20150406_171921.jpg"/></a>
	<a href="images/gallery/poster.jpg"><img class="thumbnail" src="images/thumbs/poster.jpg"/></a>
</div>
<%- include footer.ejs %>
</body>
</html>