<header>
	<div  class="pageCenterer"><img style="margin-top: 10px; margin-bottom: 10px;" src="images/logo.png"/></div>
</header>
<nav>
	<div class="pageCenterer">
	<a href="/"><div class="button">Home</div></a>
	<a href="/gallery"><div id="btnTest" class="button">Image gallery</div></a>
	<div id="btnAbout" class="button">About</div>
	<a href="/login"><div id="btnLogin" class="button">Login</div></a>
	</div>
</nav>